[Unit]
Description=ezlb - IPVS TCP Load Balancer
Documentation=https://github.com/easzlab/ezlb
After=network.target

[Service]
Type=simple
ExecStartPre=/sbin/modprobe ip_vs
ExecStartPre=/sbin/modprobe ip_vs_rr
ExecStartPre=/sbin/modprobe ip_vs_wrr
ExecStartPre=/sbin/modprobe ip_vs_lc
ExecStart=/usr/local/bin/ezlb start -c /etc/ezlb/ezlb.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
