name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  gorelease:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      - name: Build binaries
        run: |
          make build-linux

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/ezlb-*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}